.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 4em auto 0;

}

.ContainerText {
  font-size: 18px;

}


.Text {
  text-align: left;
}
