.Main.Main {
  width: 80%;
  min-height: 40vh;
  margin: 4em auto 0;
  display: flex;
  flex-direction: column;
  padding: 1em;
  box-sizing: border-box;

  @media(min-width: 550px) {
    width: 60%;
  }
}

.FullSize.FullSize {
  width: 100%;
  margin: 0 auto;
}

.NoMinHeight.NoMinHeight {
  min-height: unset;
}
